<launch>
  <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
  <arg name="world_file" value="$(find turtlebot_gazebo)/worlds/mobile_robot.world"/>
  </include>
  <include file="$(find aruco_detector)/launch/mono_aruco_detector.launch">
    <arg name="ns"            value="camera"/>
    <arg name="image"         value="rgb/image_raw"/>
    <arg name="camera_info"   value="rgb/camera_info"/>
    <arg name="marker_length" value="100.0"/> <!--mm-->
  </include>
</launch>
